<!DOCTYPE html>
<html>
  <head>
    <title>Guzoor | جذور</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js' %>
  </head>

  <body>
    <% if notice %>
     <div class="success callout text-center note">
        <p><%= notice %></p>
      </div>      
    <% elsif alert %>
      <div class="alert callout text-center note">
        <p><%= alert %></p>
      </div>    
    <% end %>

    <div class="off-canvas position-top" id="offCanvas" data-off-canvas data-transition="overlap">
      <%= render 'layouts/offcanvas' %>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <%= render 'layouts/header' %>
      <%= yield %>    
  </div>
  <%= render 'layouts/fb' %>
  </body>
</html>
